// Elements
.logo
  display block
  width 160px
  height 50px
  line-height 50px

table
  width 100%

// Texts
.text-left
  text-align left
.text-center
  text-align center
.text-right
  text-align right
  
// Position
.pull-right
  float right
.pull-left
  float left

// Style
.list-unstyled
  list-style none
  padding 0px
  margin 0px

// Grid
.row
  
  .col 
    float left 
  
  for i in (1..10)
    .size-{i}0
      width unquote('' + i + '0%')
      
  &:after 
    content ' '
    display block
    width 100%
    clear both