// Elements
tr:hover 
  td 
    background #eee

$color = #00A9E0   
a
  color $color
  text-decoration none
  transition color .15s linear
  
  &:hover
    color darken($color, 20%)

// Texts
  
// Position

// Style

// Grid
